*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  /* border-style: dashed;
  border-width: 0.01rem; */
}
code{
  white-space: pre-line;
}
section{
  border-bottom: solid;
}
section > header{
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;
}

#navbar{
  display: block;
  position: fixed;
  min-width: 200px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: black;

}

#main-doc{
  position: absolute;
  margin-left: 350px;
  padding: 30px 0;
}

#tech-doc-topic{
  font-size: 20px;
  text-align: center;
  margin: 10px 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  border-bottom: solid rebeccapurple;
}

li{
  padding: 4vh;
  border-bottom: solid black;
  border-width: 1px;
}

li > a{
  text-decoration: none;
  color: black;
}


#main-doc h3{
  text-decoration: underline;
}

p{
  padding: 5px 0;
}

.notes{
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 10px;
  background: rgb(240, 224, 136);
}

.notes p {
  background: inherit;
}

.example{
  padding: 10px 10px;
  background: rgb(226, 225, 225);
  border-radius: 10px;
  margin: 5px 5px;
}

.example *{
  background: inherit;
}